<div class="row text-center p-5 g-4">
  <h1 style="color: #2c3e50">portfolio component</h1>
  <div class="d-flex justify-content-center p-3">
    <div class="line me-3" style="background-color: #2c3e50"></div>
    <i class="fa-solid fa-star fa-lg" style="color: #2c3e50"></i>
    <div class="line ms-3" style="background-color: #2c3e50"></div>
  </div>

  <!-- Imgs cols -->
  <div class="col-lg-4 col-md-6">
    <div
      class="imgContainer rounded-3"
      data-bs-target="#Img1"
      data-bs-toggle="modal"
    >
      <img
        src="assets/poert1.png"
        alt=""
        class="img-fluid rounded-3"
        id="myImg"
      />
      <div class="imgLayer d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-plus fa-2xl"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div
      class="imgContainer rounded-3"
      data-bs-target="#Img2"
      data-bs-toggle="modal"
    >
      <img src="assets/port2.png" alt="" class="img-fluid rounded-3" />
      <div class="imgLayer d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-plus fa-2xl"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div
      class="imgContainer rounded-3"
      data-bs-target="#Img3"
      data-bs-toggle="modal"
    >
      <img src="assets/port3.png" alt="" class="img-fluid rounded-3" />
      <div class="imgLayer d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-plus fa-2xl"></i>
      </div>
    </div>
  </div>
  <!-- Imgs cols -->
  <div class="col-lg-4 col-md-6">
    <div
      class="imgContainer rounded-3"
      data-bs-target="#Img1"
      data-bs-toggle="modal"
    >
      <img
        src="assets/poert1.png"
        alt=""
        class="img-fluid rounded-3"
        id="myImg"
      />
      <div class="imgLayer d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-plus fa-2xl"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div
      class="imgContainer rounded-3"
      data-bs-target="#Img2"
      data-bs-toggle="modal"
    >
      <img src="assets/port2.png" alt="" class="img-fluid rounded-3" />
      <div class="imgLayer d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-plus fa-2xl"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div
      class="imgContainer rounded-3"
      data-bs-target="#Img3"
      data-bs-toggle="modal"
    >
      <img src="assets/port3.png" alt="" class="img-fluid rounded-3" />
      <div class="imgLayer d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-plus fa-2xl"></i>
      </div>
    </div>
  </div>
  <!-- Modal Image1 -->
  <div
    class="modal fade"
    id="Img1"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <img src="assets/poert1.png" alt="" class="img-fluid rounded-3" />
    </div>
  </div>

  <!-- Modal Image2 -->
  <div
    class="modal fade"
    id="Img2"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <img src="assets/port2.png" alt="" class="img-fluid rounded-3" />
    </div>
  </div>

  <!-- Modal Image2 -->
  <div
    class="modal fade"
    id="Img3"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <img src="assets/port3.png" alt="" class="img-fluid rounded-3" />
    </div>
  </div>
</div>
